.carousel-inner {
  background-image: url(cover/cover-1.png);
  background-position: center;
  background-size: cover;
}
.carousel-inner::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.5;
}
.carousel-inner * {
  position: relative;
  z-index: 10;
}

.info {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.info h1 {
  padding-top: 20px;
}
.info button {
  padding-top: 10px;
}
.course {
  margin-top: 80px;
}
.course-info {
  margin-top: 20px;
}

.institute {
  margin-top: 50px;
}
.accordion {
  margin: 0 auto;
}
