.carousel-inner {
  background-image: url(cover/cover-1.png);
  background-position: center;
  background-size: cover;
}
.info {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.info h1 {
  padding-top: 20px;
}
.info button {
  padding-top: 10px;
}
.course {
  margin-top: 80px;
}
.course-info {
  margin-top: 20px;
}
.inst-info {
  margin-top: 70px;
  padding-top: 70px;
}
.institute {
  margin-top: 50px;
}
